/* Layout */

body {
    margin-left:auto;
    margin-right:auto;
    font-family: 'Anton', sans-serif;
    background:#FFFFFF;
    max-width: 800px;
}

.flex{
    display:flex;
    flex-wrap:wrap;
}
.flex.center {
    justify-content: center
}

.fullheight {
    height: 100vh;
}
.center-text{
    text-align: center;
}

.gitlab{
    background-image: url("assets/gitlab-tile.svg");
}
.layer{
    margin:3rem;
}
.icon{
    margin-top:1rem;
    margin-bottom: 1rem;
}
#name {
    font-size: 16pt
}